
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<img src="//www.pizzahut.com/assets/w/evo_pb/crust/crust_pan_NoFinish.png">


<img src="//www.pizzahut.com/assets/w/evo_pb/topping/sauce_CrushedTomato_ML.png">

<img src="//www.pizzahut.com/assets/w/evo_pb/topping/topping_Pork_ML_reg.png">



<img src="//www.pizzahut.com/assets/w/evo_pb/topping/topping_ItalianSausage_ML_reg.png">


<img src="//www.pizzahut.com/assets/w/evo_pb/topping/topping_Pepperoni_ML_reg.png">

<img src="//www.pizzahut.com/assets/w/evo_pb/topping/topping_Chicken_ML_reg.png">


<img src="//www.pizzahut.com/assets/w/evo_pb/topping/topping_Ham_ML_reg.png">


<img src="//www.pizzahut.com/assets/w/evo_pb/topping/topping_Bacon_ML_reg.png">

<img src="//www.pizzahut.com/assets/w/evo_pb/topping/cheese_mozz_ML.png">

<img src="//www.pizzahut.com/assets/w/evo_pb/topping/topping_GreenBellPepper_ML_reg.png">


<img src="//www.pizzahut.com/assets/w/evo_pb/topping/topping_Olives_black_ML_reg.png">


<img src="//www.pizzahut.com/assets/w/evo_pb/topping/topping_BananaPepper_ML_reg.png">

<img src="//www.pizzahut.com/assets/w/evo_pb/topping/topping_Pineapple_ML_reg.png">

<img src="//www.pizzahut.com/assets/w/evo_pb/topping/topping_Spinach_Fresh_ML_reg.png">